@font-face {
  font-family: Gilroy;
  src: url(../../sources/fonts/Gilroy/Gilroy-Black.ttf) format("ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Gilroy;
}

.main {
  height: 100vh;
  width: 70%;
  margin: auto;
}
.main-heading {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-heading > h {
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.1s;
}
.main-map {
  width: 100%;
  height: 60vh;
}
.main-creatingRoute {
  display: grid;
  column-gap: 2em;
  margin-top: 5em;
  grid-template-columns: repeat(2, 1fr);
}
.main-creatingRoute__inputTxt {
  justify-self: end;
  width: 100%;
}
.main-creatingRoute__inputTxt input {
  width: 100%;
  padding: 0.5em 0;
}
.main-creatingRoute__pointList {
  width: 100%;
  display: grid;
  row-gap: 0.5em;
}
.main-creatingRoute__pointList-elem {
  padding: 0.5em 1em;
  border: solid 1px rgb(223, 223, 223);
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main-creatingRoute__pointList-elem-checkbox {
  cursor: pointer;
  justify-self: end;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-color: rgb(211, 89, 89);
  border-radius: 100px;
  border: none;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

@media (max-width: 767px) {
  .main {
    width: 95%;
  }
  .main-heading > h {
    font-size: 1em;
    transition: 0.1s;
  }
}

/*# sourceMappingURL=style.css.map */
