@include desctop2k {
    .main{

    }
}

@include desctopFullHD {
    .main{

    }
}

@include desctopSmall {
    .main{

    }
}

@include laptop {
    .main{

    }
}

@include tablet {
    .main{
        width: 95%;
        &-heading{
            >h{
                font-size: 1em;
                transition: .1s;
            }
        }
    }
}

@include mobile {
    .main{
        
    }
}