.main{
    height: 100vh;
    width: 70%;
    margin: auto;

    &-heading{
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        >h{
            font-size: 2em;
            text-transform: uppercase;
            transition: .1s;
        }
    }

    &-map{
        width: 100%;
        height: 60vh;
    }

    &-creatingRoute{
        display: grid;
        column-gap: 2em;
        margin-top: 5em;
        grid-template-columns: repeat(2, 1fr);
        &__inputTxt{
            justify-self: end;
            width: 100%;
            input{
                width: 100%;
                padding: 0.5em 0;
            }
        }

        &__pointList{
            width: 100%;
            display: grid;
            row-gap: 0.5em;

            &-elem{
                padding: 0.5em 1em;
                border: solid 1px rgb(223, 223, 223);
                display: grid;
                grid-template-columns: 2fr 1fr;
                &-checkbox{
                    cursor: pointer;
                    justify-self: end;
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    background-color: rgb(211, 89, 89);
                    border-radius: 100px;
                    border: none;
                }
            }
        }
    }
}



[class*="ground-pane"] {
    filter: grayscale(1);
}