@mixin desctop2k() {
    @media (max-width: $breakpoint-2k) {
        @content;
    }
}

@mixin desctopFullHD() {
    @media (max-width: $breakpoint-fullHD) {
        @content;
    }
}

@mixin desctopSmall() {
    @media (max-width: $breakpoint-xxl) {
        @content;
    }
}

@mixin laptop() {
    @media (max-width: $breakpoint-xl) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}