//font-sizes

$font-size-large: 2vw;


// breakpoints

$breakpoint-2k: 2560px;
$breakpoint-fullHD: 1920px;
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;